/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.container {
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.summary-item {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    margin-right: 10px;
    text-align: center;
}

.summary-item h3 {
    margin: 0 0 10px;
}

.summary-item p {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: bold;
}

.summary-item .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.summary-item .btn:hover {
    background-color: #0056b3;
}

.charts {
    display: flex;
    justify-content: space-between;
}

.chart-container {
    flex: 1;
    margin-right: 20px;
}

.chart-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.chart-container:last-child {
    margin-right: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f8f9fa;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
}
.transaction-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar {
    display: flex;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .search-bar select {
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .transactions h2 {
    margin-bottom: 10px;
  }
  
  .transaction-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .sort-buttons button,
  .export-import-buttons button {
    padding: 6px 12px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .sort-buttons button:hover,
  .export-import-buttons button:hover {
    background-color: #f0f0f0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-btn {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .pagination-btn:hover {
    background-color: #f0f0f0;
  }
  
  .current-page {
    padding: 6px 12px;
    margin: 0 10px;
  }